[Desktop Entry]
Version=1.0
Type=Link
Name=PandaHome
Comment=
Icon=/usr/share/icons/pandahome.png
URL=http://localhost/localpandahome/index.html
GenericName=Panda Home

